{% extends 'users/bootstrapbase.html'%}
{% load static %}
{% block content %}
{% for post in posts %}
<div class="post-container">
  <div class="flex-container">
    <div class="poster-info">
      <div class="profile">
        <img src="{% static 'images/Default_pfp.jpg'%}" alt="">
      </div>
      <div class="nameanddate">
        {{ post.author.first_name|add:" "|add:post.author.last_name }}
        <div class="date">
          {{post.created_at}}
        </div>
      </div>

    </div>
    <div class="bio">
      {{post.body}}
    </div>
    <div class="image-container">
      <img class="post-image" src="{{post.image.url}}" alt="">
    </div>
    <div class="buttons">
      <button>Like</button>
      <button>Comment</button>
      <button>Share</button>
    </div>
  </div>
</div>
<br>
{% endfor %}


{% endblock content %}