<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if searched %}
    {% for user in users %}
    <form action="{% url 'friends:send_request' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{user}}" name="receiver">
        <a href="">{{ user.first_name|add:" "|add:user.last_name }}</a>
        <input type="submit" value="Add Friend">
    </form>
    <br/>
    {% endfor %}
    {% endif %}
</body>
</html>