{% load static %}
<div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="width: 500px; height: 700px;" class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content" style="height: 100%;width: 100%;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{post.author.first_name}} post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="post-container-nested-modal">
                <div class="flex-container-nested-nested-modal">
                  <div class="poster-info-nested-modal">
                    <div class="profile-nested-modal">
                      <img src="{% static 'images/Default_pfp.jpg'%}" alt="">
                    </div>
                    <div class="nameanddate-nested-modal">
                      {{post.author.first_name}}
                      <div class="date-nested-modal">
                        {{post.created_at}}
                      </div>
                    </div>
              
                  </div>
                  <!-- <div class="bio-nested-modal">
                    {{post.body}}
                  </div> -->
                  <div class="bio bio-nested-modal">
                      <p>{{post.body|slice:"60"}}<span style="display:none;" id="hidden-body-modal{{post.id}}">{{post.body|slice:"61:"}}</span>
                      <button class="btn btn-info" data-postid="{{post.id}}" id="read-more-link-modal{{post.id}}" style="display: inline-block;" onclick="handleReadMoreModal(event)">Read More</button>
                      <button class="btn btn-info" data-postid="{{post.id}}" id="read-less-link-modal{{post.id}}" style="display: none;" onclick="handleReadLessModal(event)">Read Less</button>
                     </p>
                  </div>
                  <div class="image-container-nested-modal">
                    <img class="post-image-nested-modal" src="{{post.image.url}}" alt="">
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="comments" id="comments{{post.id}}">
              {% for comment in post.get_top_level_comments %}
              <div class="comment" id="comment{{comment.id}}" data-author="{{comment.author.first_name}}">
                <span class="profile_image">
                    {% if not comment.author.profile_picture %}
                      <img src="{% static 'images/Default_pfp.jpg' %}" alt="">
                    {% else %}
                      <img src="{{comment.author.profile_picture.url}}" alt="">
                    {% endif %}
                </span>
                <div class="commentandauthor">
                  <span class="author">{{comment.author.first_name}}</span>
                  <span class="content">{{comment.content}}</span>
                  <a data-post-id="{{post.id}}" data-comment-id="{{comment.id}}" href="#" onclick="handleNestedReply(event)">Reply</a>  
                  <a data-post-id="{{post.id}}" data-comment-id="{{comment.id}}" href="#" onclick="loadNestedReplies(event)">replies</a>
                </div>
                <div class="replies" id="replies{{comment.id}}"></div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
        
        <div class="modal-footer modal-footer--sticky">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrftoken{{post.id}}">
            <textarea name="user-comment-field" id="user-comment-field{{post.id}}"></textarea>
            <input data-id="{{post.id}}" onclick="handleComment(event)" type="submit"  value="submit">
        </div>
      </div>
    </div>
  </div>