<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container">
		<div style="width: 80%; margin: 0 auto">
  			<h1>Password Reset Form</h1>
		</div>
		<br />
		<form style="margin-left: 120px;" action="" method="POST">
  			{% csrf_token %} 
  			{{form}}
  			<input class="btn btn-primary" type="submit" value="Reset Password"/>
		</form>
	</div>
</body>
</html>

