

form{
    display: flex;
    flex-direction: column;
}



.login-page-container{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #F2F4F7;
    align-items: center;
    justify-content: center

}

.login-form{
    text-align: center;
    width:500px;
    background-color: #FFFFFF;
    height:230px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 190px;
    box-shadow: 10px 10px 10px 5px #aaaaaa;
}

.email-input-field{
    margin:10px;
    padding: 10px;
}

.password-input-field{
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    width: 300px;
}


.oauth{
    display: flex;
    flex-direction: column;
    gap:10px;
}